.character-list-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .character-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .character-link{
    list-style: none;
    text-decoration: none;
    color: #000;
  }
  
  .character-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
    height: 310px;
  
  }
  .character-image {
    width: 200px;
    height: auto;
   }
   .character-name{
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    color: #132d44;
    white-space: nowrap;            
    text-overflow: ellipsis; 
   }
  
  .character-card span {
    cursor: pointer;
    font-weight: bold;
  }
  
  .character-card button {
    margin-top: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #132d44;
    color: white;
    border: none;
  }
  
  .character-card button:hover {
    background-color: #b8b8b8;
  }
  